<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

 <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy; Copyright Alexandre Sin - 301315361 - COMP229 - Fall 2023</h6>
    </div>
    </nav>
  

      </footer>