<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>