<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <br>
    <img src="/img/photo.png" alt="photo" style: width="110px">
    <br><br>

    <!--Introduction about me-->
    <p>My name is Alexandre Sin and I am a college student living in Toronto.<br>
      I arrived in Candada back in 2022, and decided to enroll myself at Centennial College.<br>
      Now I am in my third semester of Software Engineering Technician program.
    </p>

    <p>My main focus inculdes computer programming, web design, data analytics, and software architecture design<br>
      My favorite languages are C#, SQL, and Java.<br>
      I aim to become a backend software developper or a data analyst.
    </p>

    <p>When I am not studying or working I like playing video games or watching movies.</p>
    
    <!--Download CV button-->
    <h4>Download my resume in PDF</h4>
    <a href="/img/cv.pdf" download="cv.pdf">
      <button>Download CV</button>
    </a>

    <br>
    <br>
    <br>
    <br>

    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   