<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <br>
    <h2 class="display-4">Welcome to my page</h2>
    <br>
    <h4>Mission Statement</h4>
    <p>This Express Portfolio Site for my personnal page servers as material for my first assignment of COMP229 Web Application Development class at Centennial College</p>
    <br>
    <img src="/img/centennial.png" alt="logo" style: height="110px">
  </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   