<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <br>

    <!--Projects presentation-->
    <h2>Here are some of my projects:</h2><br>

    <p><b>Webpage about protecting ecosystems:</b><br>
      Here is a webpage presenting different protected areas and the issus that affect them.<br>
      There are links to relevant webages for each protected areas to give more details.
    </p>
    <img src="/img/protect.png" alt="nature" style: width="630px"><br><br>

    <p><b>Webpage comparing different phones:</b><br>
      Here is a webpage presenting different models of iphone for the customer to compare their value.<br>
      There is a map that links to webages of resellers for each model.
    </p>
    <img src="/img/phone.png" alt="phone" style: width="700px"><br><br>

    <p><b>Form for courses review:</b><br>
      Here is an online from for centennial college student to review their courses.<br>
      Students can give their feedback and scores for their courses and professors.
    </p>
    <img src="/img/form.png" alt="form" style: width="630px"><br><br>

    <br>
    <br>
    <br>
    <br>


    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   