<!--Name: Leck Sane Hariniaina Alexandre, SIN-->
<!--Student number: 301315361-->
<!--Date: 2023/09/30-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <br>
    
    <!--Service presentation-->
    <h2>Here are the services I can provide:</h2><br>

    <p><b>Custom Software Development:</b><br>
      Creating tailored solutions designed to meet specific business needs.<br>
      This could include enterprise software, client relationship management systems, inventory management systems, and more.
    </p>
    <img src="/img/software.jpg" alt="software" style: height="200px"><br><br>

    <p><b>Web Application Development:</b><br>
      Building applications that are accessed through web browsers.<br>
      These can range from simple websites to complex web-based platforms and web applications.
    </p>
    <img src="/img/web.png" alt="web" style: height="200px"><br><br>

    <p><b>Database Development and Management:</b><br>
      Designing, implementing, and managing databases to efficiently store, retrieve, and manage data for applications.
    </p>
    <img src="/img/data.png" alt="web" style: height="200px"><br><br>

    
    <br>
    <br>
    <br>
    <br>

    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   